.main {
  background-color: white;
  border: 2px solid #b3defd;
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 718px;
}

.toolbar {
  background: white;
  color: black;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Poppins, var(--font-family-common);
}

.logo {
  font-family: Poppins, var(--font-family-common);
  font-style: bold;
  font-size: 18px;
  line-height: 20px;
  line-height: 74px;
  text-align: center;
  vertical-align: center;
  color: #6070ff;
}

.firstparagraph {
  font-family: Poppins, var(--font-family-common);
  font-style: bold;
  margin-left: 24px;
  margin-right: 24px;
  font-size: 40px;
  line-height: 52px;
  line-height: auto;
  align-items: left;
  vertical-align: center;
  color: #172b4d;
}

.secondparagraph {
  font-family: Poppins, var(--font-family-common);
  font-size: 16px;
  margin-left: 24px;
  margin-right: 24px;
  line-height: 24px;
  align-items: left;
  vertical-align: top;
  color: #344563;
}

ul {
  list-style-type: none;
}

.a {
  margin-left: -30px;
}

.b {
  margin-left: -48px;
  margin-bottom: 100px;
}

.c {
  margin-left: -98px;
  margin-top: 6px;
}

.d {
  margin-left: -140px;
  margin-top: 3px;
}

.g {
  margin-left: -166px;
  margin-top: 4px;
}

.h {
  margin-left: -188px;
  margin-top: 1px;
}

.i {
  margin-left: -208px;
  margin-top: 2px;
}

.thirdparagraph {
  font-family: Poppins, var(--font-family-common);
  font-style: medium;
  font-size: 16px;
  line-height: 24px;
  margin-left: 24px;
  margin-right: 224px;
  align-items: left;
  vertical-align: top;
  color: #7f8cff;
}

.sidebar-toggle {
  position: relative;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: #6070ff;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: center;
}

.headline {
  display: flex;
  flex-direction: column;
}

.icons {
  position: relative;
  top: 0;
  left: 0;
  right: 20px;
  z-index: 1;
  display: flex;
  margin-left: 24px;
  flex: 1;
  align-items: left;
  justify-content: space-around;
  padding: 2px;
}
